.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer";
  gap: 7px;
}

header {
  grid-area: header;

  height: 150px;
}
nav {
  grid-area: nav;
  height: 50px;
}
main {
  grid-area: main;
  height: 250px;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
  height: 80px;
}

header,
nav,
main,
aside,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #bebebe;
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "header"
      "main"
      "aside"
      "footer";
  }

  aside {
    height: 180px;
  }
}
